Source: ros-jazzy-rewire
Section: misc
Priority: optional
Maintainer: "Alvaro Gaona" <alvgaona@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libudev-dev, ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: https://rewire.run
Standards-Version: 3.9.2

Package: ros-jazzy-rewire
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ament-index-python, ros-jazzy-launch, ros-jazzy-ros2launch, ros-jazzy-ros-workspace
Description: Launch integration for rewire, a drop-in ROS 2 bridge for the Rerun viewer.
